.NewArrival-container {
    background-color: #F7F8FC;
    padding: 75px 15%;
}

.NewArrival {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.head-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    color: #243136;
}

.head-Title::after {
    content: "";
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, #1D7328, #539F22);
}

.NewArrival-card {
    width: calc(25% - 15px);
    /* margin-bottom: 24px; */
    /* background-color: #FFFFFF; */
    padding: 20px 10px;
}

.NewArrival-thumbnail {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 1.5px solid #9d9d9e;
}
.new{
    position: relative;
    top: 40px;
    left: 10px;
    width: 50px;
    background-color: #54AC00;
    color: white;
    z-index: 1;
}
.NewArrival-thumbnail img {
    width: 100%;
    display: block;
    height: 60%;
    width: fit-content;
    z-index: 2;
}


.NewArrival-details {
    padding: 5px;
}

.NewArrival-title {
    display: flex;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
    justify-content: center;
    color: #243136;
}

.price {
    font-size: 16px;
    font-weight: 100;
    opacity: 0.6;
}

/* ---------media-query--------- */

@media screen and (max-width: 1200px) {
    .NewArrival-container {
       padding: 75px 8%;
        
    }
}
@media screen and (max-width: 1024px) {
    .NewArrival-card {
        width: calc(30% - 5px);
        padding: 20px 10px;
        
    }
}

@media screen and (max-width: 900px) {
    .NewArrival-container {
        padding: 75px 8%;
    }
}
@media screen and (max-width: 768px) {
    .NewArrival-card {
        width: calc(45% - 10px);
    }
}
@media screen and (max-width: 550px) {
    .NewArrival-container {
        padding: 75px 4%;
    }
}
@media screen and (max-width: 480px) {
    .head-Title {
        font-size: 24px;
    }

    .head-Title::after {
        width: 80px;
    }

    .NewArrival-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        padding: 20px;
    }

    .NewArrival-title {
        font-size: 21px;
    }

    .NewArrival-details {
        padding-bottom: 16px;
    }

    .NewArrival-details .price {
        font-size: 16px;
    }
}