

.contact {
    /* width: 100vw; */
    /* height: 100%; */
    background: linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        url("https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg?auto=compress&cs=tinysrgb&w=600") center ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container {
    padding: 40px;
    background-color: white;
    width: 60%;
    margin-top: 50px;
}



.contact-container h1 {
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 300;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}



.contact-container form input ,textarea{
    flex: 1;
    min-width: 40%;
    margin: 10px 0;
    padding: 10px;
}

.contact-container form button {
    width: 30%;
    border: none;
    padding: 15px 20px;
    background-color: #54AC00;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}


.map-info {
    padding: 20px;
    align-self: center;
}