.announcement {
    height: 30px;
    background-color: #066C28;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}


/* -----------------media query------------- */

@media screen and (max-width: 768px) {
    .announcement {
        display: none;
    }
}